<div class="login py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="text-muted mb-4">
          <h1 class="mb-4 text-primary fw-bold">
            {{ "LoginPage.title" | translate }}
          </h1>
          <p class="lead">
            {{ "LoginPage.subTitle" | translate }}
            <button
              class="btn btn-secondary d-block me-2 mb-2 mt-2 mt-sm-0 mb-sm-0 d-sm-inline-block {{
                Lang === 'AR' ? '' : 'me-0 ms-md-2'
              }}"
              [class.active]="!isStudent"
              (click)="isStudent = false; setType('teacher')"
            >
              {{ "LoginPage.teacherBtn" | translate }}
            </button>
            <button
              class="btn btn-secondary d-block d-sm-inline-block"
              [class.active]="isStudent"
              (click)="isStudent = true; setType('student')"
            >
              {{ "LoginPage.studentBtn" | translate }}
            </button>
          </p>
        </div>
        <div class="login-form">
          <!-- <p class="lead fw-bold mb-1 mt-5 ps-1 text-primary mb-3">
            *{{
              !isStudent
                ? ("LoginPage.teacherBtn" | translate)
                : ("LoginPage.studentBtn" | translate)
            }}
            {{ "LoginPage.title" | translate }}:
          </p> -->
          <form
            #form="ngForm"
            class="p-4 bg-light shadow border rounded-2"
            (ngSubmit)="onSubmit(form)"
          >
            <div class="row">
              <div class="col-12">
                <label for="validationCustomUsername" class="form-label"
                  >*{{ "LoginPage.formEmail" | translate }}</label
                >
                <div class="input-group">
                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                  <input
                    type="email"
                    class="form-control"
                    id="validationCustomUsername"
                    ngModel
                    #email="ngModel"
                    name="email"
                    required
                    email
                  />
                </div>
                <span
                  class="text-danger"
                  *ngIf="!email.valid && email.dirty && email.touched"
                >
                  Please write correct email.
                </span>
              </div>
              <div class="col-12 mt-4">
                <label for="validationCustom03" class="form-label"
                  >*{{ "LoginPage.formPass" | translate }}</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="validationCustom03"
                  ngModel
                  #pass="ngModel"
                  name="password"
                  required
                  minlength="8"
                />
                <span
                  class="text-danger"
                  *ngIf="pass.invalid && pass.dirty && pass.touched"
                >
                  Please write min 8 digits.
                </span>
              </div>
              <div class="col-12 mt-4">
                <button
                  class="btn btn-primary"
                  [disabled]="form.invalid"
                  type="submit"
                >
                  {{ "LoginPage.title" | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
        <p class="fw-bold mt-4 ms-1" style="letter-spacing: 1px">
          {{ "LoginPage.createAccount" | translate }}
          <a routerLink="../signup" class="text-danger">
            {{ "LoginPage.register" | translate }}
          </a>
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <div class="login-img ps-3">
          <img
            src="https://i.ibb.co/VVgydf9/login.png"
            alt="Login Image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
