.login-img {
  margin-top: 50px;
}
button {
  transition: all 0.3s ease;
}
button.active {
  background-color: brown;
  color: #fff;
}

button:focus {
  box-shadow: none !important;
}

@media (max-width: 574.9px) {
  button {
    width: 100%;
  }
}
