.grades {
  padding: 50px 0px;
}

.grades h1 {
  display: inline-block;
  color: #4054c5;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 10px;
  border-bottom: 4px solid #4054c5;
}

.grades table td {
  color: #444;
}
.grades table td,
.grades table th {
  font-family: cursive !important;
}
.grades table thead {
  background-color: #4054c5;
  color: #d5dcff;
  letter-spacing: 1px;
}
.grades table thead tr th:first-of-type,
.grades table tbody tr td:first-of-type {
  background-color: #4054c5;
  color: #d5dcff;
}

.grades table tbody tr {
  font-weight: 600;
  font-size: 15px;
  padding: 10px 0px;
}
