<div class="subjects">
  <div class="container">
    <h1>{{ "Teacher.subjects.title" | translate }}</h1>
    <div class="alert alert-danger" *ngIf="allSubjects?.length === 0">
      There Is No Subjects Added Yet
    </div>
    <div class="allSubjects">
      <div class="row">
        <div
          class="subject-controls col-lg-4"
          *ngFor="let subject of allSubjects; let i = index"
        >
          <div
            class="div-style mat-elevation-z4"
            matRipple
            [style.backgroundColor]="colors[i]"
          >
            <p class="subject-title">{{ subject.subjectName }}</p>
            <p class="subject-questions mb-1">
              {{ "Teacher.subjects.questions" | translate }}: [
              {{ subject.questions.length }} ]
            </p>
            <p class="subject-grade">
              {{ "Teacher.subjects.grade" | translate }}: [
              {{ subject.questions.length * 5 }} ]
            </p>
          </div>
          <div class="controls d-flex justify-content-center">
            <button
              class="btn btn-primary me-2 mb-2 mb-lg-0"
              *ngIf="loginUser?.role === 'student'"
              (click)="startSubjectExam(subject.id, subject.subjectName)"
            >
              {{ "Teacher.subjects.startExam" | translate }}
            </button>
            <button
              class="btn btn-success me-2 mb-2 mb-lg-0"
              class="{{ lang === 'EN' ? 'ms-2 me-0' : '' }}"
              *ngIf="loginUser?.role === 'teacher'"
              (click)="showSubjectExam(subject.id)"
            >
              {{ "Teacher.subjects.show" | translate }}
            </button>
            <button
              class="btn btn-danger mb-2 mb-lg-0"
              *ngIf="loginUser?.role === 'teacher'"
              (click)="DeleteSubject(i, subject.id)"
            >
              {{ "Teacher.subjects.delete" | translate }}
            </button>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
